#resultado{
    border:1px solid green;
    width: fit-content;
    block-size: fit-content;
    }
    
    #resultado2{
      border:1px solid blue;
      width: fit-content;
      block-size: fit-content;
    }
    